PORT=3000
HOST="http://localhost"
BACKEND_URL='http://localhost:5000'
OAUTH2_GOOGLE_CLIENT_ID=''
OAUTH2_GOOGLE_CLIENT_SECRET=''
SESSION_SECRET=''
ACCESS_TOKEN_PUBLIC=''
REFRESH_TOKEN_PUBLIC=''
NODE_TLS_REJECT_UNAUTHORIZED=1
